<h1>
    <%=@product.product_name %>
</h1>
<p>
    <strong>Name:</strong>
    <%= @product.product_name %>
</p>

<p>
    <strong>Quatity:</strong>
    <%= @product.product_qty %>
</p>
<p>
    <%=link_to "Back", products_path %>
</p>